// This file is part of help.eyeo.com.
// Copyright (C) 2017 Eyeo GmbH
//
// help.eyeo.com is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// help.eyeo.com is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Body
 ******************************************************************************/

.outer
{
  background-image: url(/dist/img/png/help-bg.png);
  background-repeat: no-repeat;
}

#main
{
  padding-top: $medium-space;
  padding-bottom: $large-space;

  @media (min-width: $phablet-breakpoint)
  {
    padding-top: $large-space;
  }
}

.tablet-width
{
  width: $tablet-width;
}

.section
{
  margin-bottom: $medium-space;

  @media (min-width: $phablet-breakpoint)
  {
    margin-bottom: $large-space;
  }
}

.section-accent
{
  padding-top: $large-space;
  padding-bottom: $large-space;
  background-image: url("/dist/img/png/accent-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
}
