// This file is part of help.eyeo.com.
// Copyright (C) 2017 Eyeo GmbH
//
// help.eyeo.com is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// help.eyeo.com is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Site Header
 ******************************************************************************/

/* #site-logo
 ******************************************************************************/

#site-logo
{
  direction: ltr;
}

#site-logo:hover,
#site-logo:active,
#site-logo:focus
{
  text-decoration: none;
}

#site-logo img
{
  width: auto;
  vertical-align: middle;

  @media (max-width: $phablet-breakpoint + 1)
  {
    height: 1.8em;
  }
}

#site-logo span
{
  display: inline-block;
  line-height: 1.8em;
  border-left: 1px solid $gray-medium;
  margin-left: 0.5em;
  padding-left: 0.5em;
  vertical-align: middle;
  font-size: 1.2em;
  color: $gray-medium;

  @media (min-width: $phablet-breakpoint)
  {
    margin-left: 1em;
    padding-left: 1em;
    line-height: $navbar-branding-height;
    font-size: 1.3em;
  }
}

/* #product-website-link
 ******************************************************************************/

#product-website-link
{
  float: right;
  padding-top: $navbar-padding;

  a { line-height: $navbar-padding * 3; }

  img { margin-left: $x-small-space; }
}

html[dir="rtl"] #product-website-link
{
  float: left;

  img { margin-right: $x-small-space; }
}
